.plant-card {
    background-color: rgb(131, 158, 73);
    padding: 20px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    width: 400px;
    margin-bottom: 20px;
}

.plant-title{
    font-size: 30px;
    text-align: center;
    background-color: #32955d;
}
.plant-price{
    font-size: 19px;
    text-align: center;
    background-color: rgb(102, 181, 108);
    text-decoration: double;
}
.plant-card-img{
    height: 300px;
    width: 300px;
    margin-left:25px
}
.body{
    padding-left: 32%; 
}
.button-container{
    display: flex;
    justify-content: center;
}
.plant-card-btnn{
    background-color: #3c6b3d;
    border-radius: 5px;
    color: white;
    padding: 3px;
    width: 70px;
    margin-top: 15px;
    margin:5px;
    text-decoration: none;
}
.plant-card-btnn:hover{
    background-color: #32955d;
}