.Heading{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(131, 158, 73);
    padding: 10px;
    color:black
}
.whole-body {
    background-color: rgb(221, 255, 204);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 1px; /* Add gap for spacing between cards */
}
.add-btn {
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 10;
    background-color: aliceblue;
    border-radius: 50%;
}

